<%if (scss) { %> import './<%= name %>.scss'<% } -%>

export type T<%= name %>Props = {}

const <%= name %> = ({}: T<%= name %>Props) => {
  return (
    <>
      <h1><%= name %></h1>
    </>
  )
}

export default <%= name %>
